@model IEnumerable<OnlineShop.Models.Product>
@inject IRepository<Category> CategoryRepository

@{
    ViewData["Title"] = "Admin panel";
}
<div class="container">
    <h1>Panel</h1>

    <form asp-action="Create">
        <div class="btn-group" role="group" aria-label="Basic example">
        <p>
            <button class="btn btn-primary">Create Product</button>
            <a class="btn btn-primary" asp-controller="Category" asp-action="Index">Back to Categories</a>
        </p>
        </div>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name Product
                </th>
                <th>
                    Category
                </th>
                <th>
                    Image
                </th>
                <th>
                    Price
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @await CategoryRepository.GetByIdAsync(item.CategoryId)
                    </td>
                    <td>
                        @item.ImageName
                    </td>
                    <td>
                        @item.Price
                    </td>
                    <td>
                        <a asp-action="Upload" asp-route-id="@item.Id">Upload</a> |
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>