@model IEnumerable<OnlineShop.Models.Product>

@{
    ViewData["Title"] = "Admin panel";
}
<div class="container">
    <h1>Panel</h1>

    <form asp-action="Create">
        <p>
            <button class="btn btn-primary">Create Product</button>
        </p>
    </form>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name Product
                </th>
                <th>
                    Image
                </th>
                <th>
                    Price
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.ImagePath
                    </td>
                    <td>
                        @item.Price
                    </td>
                    <td>
                        <a asp-action="Upload" asp-route-id="@item.Id">Upload</a> |
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>